/*format the text for the website*/
body {
  font-family: helvetica, arial, sans-serif;

  margin: 0;
  background-color: black;
  color: white;
}

/*Custom Scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F3A7BA;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(243, 167, 186, 0.8);
}



/*curved corners for images*/
img {
  text-align: center;
  width: 100%;
  border-radius: 5px;
}

/*Basic Padding */
header, section, aside, footer {
  padding: 5px;
}

/*Styling Grid Sections*/
.grid-container {
  display: grid;
  grid-gap: 0.5%;
  justify-content: center;
  padding: 3px;
  overflow: hidden;
}

.grid-container > div {
  text-align: center;
  font-size: 15px;
}

.col-2 , .col-2b{
  grid-template-columns: 49% 49%;
}

.col-2a{
  grid-template-columns: 59% 39%;
}
.col-3{
  grid-template-columns: 33% 33% 33%;
}

.col-4{
  grid-template-columns: 24.5% 24.5% 24.5% 24.5%;
}

@media screen and (max-width: 600px) {
  .col-2, .col-2a{
    grid-template-columns: 98% !important;
  }
  .col-3, .col-4{
    grid-template-columns: 49% 49% !important;
  }
}

/*Header styling*/
header {
  background-color: rgba(0, 0, 0, 0.0);
  color: black;
  text-align: center;
}

h1, h2, h3{
  text-align: center;
  color: #F3A7BA;
  font-weight: bold;
  text-transform: uppercase;
}

h3{
  font-size: 15px;
}


/*The Navigation Bars and Links*/
a{
  text-decoration: none;
}

.navbar, nav{
  background-color: rgba(0, 0, 0, 0.0);
  overflow:hidden;
}
nav{
  display: flex;
  padding: auto;
}

nav a {
  float: left;
  flex-grow: 1;
  font-size: 15px
}

@media screen and (max-width: 600px) {
  nav a {
    font-size: 3vw !important
  }
}

.navbar a , nav a{
  float: left;
  display: block;
  color: #F3A7BA;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  font-size: 17px;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child){
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*formats the title image*/
.title{
  height: auto;
  width: 50%;
}

/*margins and padding for the div sections*/
.section{
  text-align: center;
}

.section-tab{
  text-align: center;
  padding: 15px;
}

/*Home Page Video*/
.full-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.vid-header {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vid-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*Layout for Members Page*/

/* Style the members menu */
.tab-img{
  background-image: url(../Image/blackpink-banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.tab {
  overflow: hidden;
  display: flex;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: rgba(0 , 0 , 0 , 0.5);
  flex-grow: 1;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  transition: 0.3s;
  color: #F3A7BA;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}
@media screen and (max-width: 600px) {
  .tablinks{
    font-size: 12px !important;
  }
}


/* Change background color of buttons on hover */
.tab button:hover {
  color: white;
}

/* Create an active/current tablink class */
.tab button.active {
  font-size: 17px;
  color: white;
}

/* Style the Member Tabs content */
.tabcontent {
  display: none;
  padding: 6px;
}

/*Layout for member and album*/
.item1 { grid-area: header; }
.item2 { grid-area: image; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.item1 , .item2 , .item3 , .item4 , .item5{
  border: solid;
  border-color: #F3A7BA;
}

.info-grid {
  display: grid;
  grid-template-areas:
    'header header header header header'
    'main main main main image'
    'main main main main right'
    'main main main main right'
    'main main main main right'
    'footer footer footer footer footer ';
  grid-gap: 7px;
  margin:0 5%;
  background-color: black;
}


.info-grid > div {
  background-color: rgba(255, 255, 255, 0.0);
  padding: 10px;
  font-size: 15px;
}

.info-img{
  display: block;
  margin: auto;
  vertical-align: center;
  text-align: center;
  object-fit: fill;

}

.info-grid a{
  color: #F3A7BA;
  text-align: center;
}

.section ol{
  list-style-position: inside;
}

@media screen and (max-width: 600px) {
  .info-grid {
    grid-template-areas:
      'header'
      'image'
      'right'
      'main'
      'footer';
    grid-gap: 5px;
    margin: 0 !important;
    padding: 5px;
  }
}


/*Gallery*/

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6,.mySlides7, .mySlides8 {
  display: none;
  text-align: center;
}

.media > img, .media > video{
  width:75%;
  vertical-align: middle;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: rgba(0 , 0 , 0 , 0.5);
  font-size: 12px;
  padding: 10px;
  margin: auto;
  width: 75%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*Layout for Music Page */
.div-border{
  border: solid;
  border-color: #F3A7BA;
  margin:4%;
}


/*Videos on Album Pages*/
.vid-section {
  display: inline-grid;
  grid-gap: 10px;
  align-content: center;
  text-align: center;
}

.responsive-iframe {
  width: 100%;
  height: 100%;
}


/*TOUR PAGE*/
.tour-item{
  position:relative;
  margin: 2vw;
}

.tour-item:hover .tour-item-inner{
  opacity:1;
}

.tour-thumb {
overflow:hidden;

}

.tour-item-inner {
  background:rgba(0,0,0,0.5);
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  opacity:0;
  transition:all 500ms ease-in-out;
}

.tour-details-wrapper{
  height:100%;
  display:table;
  text-align:center;
  width:100%;
}

.tour-sub-nav {
  border:solid;
  border-color: #F3A7BA;
  display:table-cell;
  vertical-align:middle;
  text-transform:uppercase;
}

.tour-title{
  text-align:center;
  text-decoration:none;
}

.tour-title h2{
  text-align: center;
  font-size:25px;
}

.tour-sub-nav ul{
  padding: 0;
  text-align: center;
}

.tour-sub-nav ul li {
  display: inline-block;
  list-style-type:none;
  font-size:12px;
  text-align:center;
  margin: 7px;
  padding: auto;
}

.tour-sub-nav ul li a{
  color: white;
  text-transform: uppercase;
}

.tour-sub-nav ul li a:hover {
  text-decoration:line-through;
}

@media screen and (max-width: 600px){
  .tour-sub-nav{
    border: none;
  }
  .tour-item-inner{
    opacity: 1 !important;
  }
  .tour-title h2{
    text-align: center;
    font-size:17px;
    margin: 2px;
  }
  .tour-sub-nav ul {
    margin: 7px;
  }
}

/*Tour Video Page*/
.tour-header{
  object-fit: cover;
  object-position: -20% -20%;

  width: 94vw;
  height: 20vh;
}

.vid-slides{
  position: relative;
  width: 90%;
  margin: auto;
}

.vid-slides > video{
  width: 100%;
  height: 100%;
}

.slides-nav{
  padding: 15px;
  display: inline-grid;
  grid-gap: 10px;
  align-content: center;
  text-align: center;
}

.slides-nav > h3{
  text-align: center;
  font-size: 15px;
  list-style: none;
  cursor: pointer;
}

.slides-nav > li >img{
  opacity: 0.7;
}

.slides-nav > li >img:hover{
  opacity: 1;
  transition: 0.5s;
}

/* Social Media Page*/

@media screen and (max-width: 600px){
  .tiles article > a{
    font-size: 3vw !important;
  }
}

.tiles article {
	transition: transform 0.5s ease, opacity 0.5s ease;
  flex-grow: 1;
	position: relative;
  text-align: center;
	margin: 20px;
}

.tiles article > .image {
	transition: transform 0.5s ease;
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
}

.tiles article > .image:before {
	transition: background-color 0.5s ease, opacity 0.5s ease;
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
  background-color: black;
	opacity: .5;
	z-index: 1;
}

.tiles article > a {
  border: none;
  background-color: inherit;
	align-items: center;
	transition: background-color 0.5s ease, transform 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #F3A7BA;
  font-size: 17px;
	z-index: 3;
}

body:not(.is-touch) .tiles article:hover > .image {
	transform: scale(1.1);
}

body:not(.is-touch) .tiles article:hover > .image:before {
	background-color: none !important;
	opacity: 0.2;
}


/*Formats the footer*/
footer {
  background-color: black;
  padding: 20px;
  font-size: 12px;
  color: #737373;
  text-align: center;
  overflow: hidden;
}

/*Social Media Links*/
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.social-icons a {
  display: inline-block;
  background-color: #33353d;
  color: #F3A7BA;
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 2px;
  border-radius: 100%;
  transition: all 0.2s linear;
}

.social-icons a:active,.social-icons a:focus,.social-icons a:hover {
  color: white;
  background-color: #F3A7BA;
}

.fa{
  background: #F3A7BA
  color: white;
}
